@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor-1);
}
:root {
    --cor-1: #edac59;
    --cor-2: #f1c17b;
    --cor-3: #f6d59d;
    --cor-4: #faeabf;
    --cor-5: #ffffe1;
    --cor-6: #8b4513;
    --cor-7: #333;
    --cor-8: #3f1e07;
}
header.cabecalho {
    background-color: var(--cor-5);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10%;
}
#panq {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}
.receita {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.igredientes, .preparo, .info-rapi {
    background-color: var(--cor-5); 
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10%;
}
h1 {
    font-size: 2em;
    font-weight: 1000;
    color: var(--cor-6);
}
h2 {
    color: var(--cor-6);
    margin-bottom: 15px;
    font-size: 1.7em;
    font-weight: 900;
}

ul, ol {
    padding-left: 25px; 
}

li {
    margin-bottom: 8px;
    line-height: 1.5;
    font-weight: 600;
}
.rodape {
    text-align: center;
    padding: 15px;
    background-color: var(--cor-5);
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.rodape a {
    color: #d97706;
    text-decoration: none;
}

.rodape a:hover {
    text-decoration: underline;
}